nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    border: 1px solid black;
    width: 150px;
    margin: 10px;
    background-color: #cc0000;
    color: white;
}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

nav li a:hover {
    background-color: maroon;
}

.bordertop {
    border-top: 1px solid red;
}

.borderbottom {
    border-bottom: 1px solid lime;
    padding-bottom: 20px;
}

.borderleft {
    border-left: 1px solid blue;
}

.borderright {
    border-right: 1px solid violet;
}

.rainbowborder {
    border-top: 1px solid #ff0000;
    border-bottom: 2px solid #00ff00;
    border-right: 3px solid #0000ff;
    border-left: 4px solid #ff00ff;
  }    


