/* This is a stylesheet for TheBasicCss.html*/
/*p {
    color: #ff0000;
    background-color: #aae2cd;
  }
*/

  .specialp {
    color: #00f;
    background-color: lightgreen;
}

#specialid {
   color: #006600;
   background-color: orange;
}

#divexample {
    background-color: blue;
}

.spanstyle {
    color: red;
}

a {
     color: #ff0000;
     text-decoration:none;
}

a:link {
    color: red;
}

a:visited {
    color: green;
  }

a:active {
    color: #00ffff;
  }

a:hover {
    color: yellow;
    text-decoration: underline;
  }        