body {
    background-image: url('a5bg.png');
}

#HelNoBol {
    font-family: Helvetica;
    font-weight: normal;
    padding: 20px;
    background-color: white;
}

#HelBol {
    font-family:  Helvetica;
    border-bottom: 3px solid black;
}

.justy {
    text-align: justify;
}

nav li {
    text-decoration: none;
    display: inline-block;
}


nav a {
    border: 1px solid black;
    width: 150px;
    margin: 10px;
    background-color: darkblue;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav a:hover{
    background-color: blue;
}

.pagebody {
    background-color: white;
    padding: 30px 20px;
}

.pagebody a {
 color: blue; 
 font-weight: bold;
 text-decoration: none;
}

.pagebody a:visited{
    color: blue; 
    font-weight: bold;
    text-decoration: none;
}

.pagebody a:hover {
    color: red;
    text-decoration: underline;
}

#foota {
    text-align: center;
    color: white;
    background-color: darkblue;
    border: 7px, white, solid;
    padding: 50px;
    font-family: Verdana;
    font-style: italic;
    font-weight: bold;
}

.img {
background-repeat:repeat;
}
